<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>마이페이지 - UGAIT</title>
  </head>
  <body>
    <header class="container">
      <div>
        <a href="#"><img src="./img/UGAIT.png" alt="UGAIT 로고" /></a>
      </div>
      <div class="setting">
        <div><a href="#">로그인</a>/<a href="#">회원가입</a></div>
        <div><a href="#">마이페이지</a></div>
      </div>
    </header>
    <div class="container">
      <div class="menu">마이페이지</div>
    </div>
    <hr class="line" />
    <div class="signup-box">
      <div class="container">
        <div class="edit-con">
          <div class="sub-text-container">
            <p class="sub-text">현재 나의 유학 지역</p>
          </div>
          <div info-container>
            <div>
              <div class="info">
                <div>
                  <input type="text" name="location" class="location" />
                </div>
                <div class="loginBtn">
                  <button type="button" onclick="" class="change-location-btn">
                    위치 변경
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="edit-con">
          <div class="sub-text-container">
            <p class="sub-text">회원 정보 수정</p>
          </div>
          <div class="info-container">
            <div>
              <div class="info">
                <div class="fun-text">이름</div>
                <div><input type="text" name="name" class="input-info" /></div>
              </div>
              <div class="info">
                <div class="fun-text">아이디</div>
                <div><input type="text" name="id" class="input-info" /></div>
              </div>
              <div class="info">
                <div class="fun-text">비밀번호</div>
                <div><input type="text" name="pw" class="input-info" /></div>
              </div>
              <div class="info">
                <div class="fun-text">비밀번호 확인</div>
                <div><input type="text" name="re_pw" class="input-info" /></div>
              </div>
              <div class="info">
                <div class="fun-text">휴대폰</div>
                <div><input type="text" name="phone" class="input-info" /></div>
              </div>
              <div class="info">
                <div class="permission-btn">
                  <button
                    type="button"
                    class="permission-btn-primary"
                    onclick=""
                  >
                    인증 번호 받기
                  </button>
                  <button
                    type="button"
                    class="permission-btn-primary"
                    onclick=""
                  >
                    인증하기
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="complete">
          <button type="button" class="edit-complete-btn">수정 완료</button>
        </div>
      </div>
    </div>
    <hr class="gray-line" />
    <div class="container guide padding">
      <div class="sub-text">가이드 매칭 내역</div>
      <div class="search-duration">
        <div class="search-text">검색 기간</div>
        <div>
          <input
            type="date"
            value="2022-06-10"
            name="start-duration"
            class="duration"
          />
        </div>
        <div class="search-text">~</div>
        <div>
          <input
            type="date"
            value="2022-07-27"
            name="end-duration"
            class="duration"
          />
        </div>
      </div>
    </div>
    <!-- 매칭되었던 가이드 -->
    <div class="container2">
      <div><img src="./img/guide_profile1.png" alt="가이드 사진" /></div>
      <div class="guide-profile">
        <div class="parent-flex">
          <div>2022.07.20</div>
          <div class="childe-flex">
            <button type="button" name="report" class="report-btn">
              가이드 신고하기
            </button>
          </div>
        </div>
        <div class="flex-align">
          <div class="guide-name">SUSAN</div>
          <div class="padding-bt">
            <button type="button" class="lang">영어</button>
          </div>
        </div>
        <div><button type="button" class="tour-theme">식사</button></div>
        <div class="bottom-bar">
          <div>
            <div class="flex-align">
              <div class="guide-info">연락처</div>
              <div class="guide-id">010-0000-0000</div>
            </div>
            <div class="flex-align">
              <div class="guide-info">투어 시간</div>
              <div class="guide-id">12:00 ~ 17:00</div>
            </div>
          </div>
          <div class="childe-flex">
            <button type="button" class="guide-profile-btn request-btn">
              가이드 재요청
            </button>
            <button type="button" class="guide-profile-btn review-btn">
              리뷰 작성
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="sub-desc">
      <p><a href="#">더보기</a></p>
    </div>
  </body>
</html>
