<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>회원가입 - UGAIT</title>
  </head>
  <body>
    <header class="container">
      <div>
        <a href="#"><img src="./img/UGAIT.png" alt="UGAIT 로고" /></a>
      </div>
      <div class="setting">
        <div><a href="#">로그인</a>/<a href="#">회원가입</a></div>
        <div><a href="#">마이페이지</a></div>
      </div>
    </header>
    <div class="container">
      <div class="menu">회원가입</div>
    </div>
    <hr />
    <div class="container small-container">
      <div class="select">
        <div><button class="selectType color1">유학생</button></div>
        <div><button class="selectType color2">가이드</button></div>
      </div>
      <div class="desc">
        <div class="main-desc">유학생용 회원가입</div>
        <div class="main-desc">가이드용 회원가입</div>
      </div>
      <div class="desc-detail-container">
        <div class="desc-detail">
          <div class="sub-desc">
            하루 공부 일정이 끝나고 할 게 마땅치 않아 심심한 유학생
          </div>
          <div class="sub-desc">해외에서 현지인과 친구를 맺고 싶은 유학생</div>
          <div class="sub-desc">
            낯선 곳에서 혼자 현지 투어를 하기 어려운 유학생
          </div>
        </div>
        <div class="desc-detail">
          <div class="sub-desc">
            외국인 친구들과 함께 추억을 남기고 싶은 가이드
          </div>
          <div class="sub-desc">현지에서 거주한지 6개월 이상인 가이드</div>
          <div class="sub-desc">시간을 허투루 보내고 싶지 않은 가이드</div>
        </div>
      </div>
    </div>
  </body>
</html>
